* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

.container {
    height: auto;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0, auto);
    grid-gap: 50px;
    padding: 100px;
    position: relative;
    top: 10%;
    left: 0;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        padding: 100px;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 70px;
    }
}


.weather-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #398de7;
    color: aliceblue;
    border-style: solid;
    border-radius: 5px;
    border-width: .08rem;
    height: 210px;
    width: 350px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    position: relative;
    height: 10px;
    width: 10px;
    right: -160px;
    top: 15px;

}

.weather-container .location-section {
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.weather-container .location-section .location-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location-data .location {
    font-size: 20px;
    font-weight: 700;
}

.weather-container .location-section .wheather {
    display: flex;
    flex-direction: column;
}

.celcius {
    font-size: 35px;
}

.extra-details {
    position: relative;
    height: 120px;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    padding: 1rem;
    background-color: #373a47;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.location-section,
.extra-details {
    width: 320px;
    height: 100px;
}

.extra-details .phv-details {
    display: flex;
    flex-direction: column;
}

.phv-details .phv-stack,
.sun-rise-set-data .sub-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5rem;
}

.wind-details {
    justify-content: center;
    text-align: center;
}

.data-title,
.data-value,
.wind-speed {
    font-size: small;
}

.data-title {
    font-weight: 500;
}

.data-value {
    font-weight: 100;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    z-index: 9999;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
}

.search-bar button[type="submit"] {
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button[type="submit"]:hover {
    background-color: #0D8ABC;
}